.header {
  height: 3em;
}

.menu {
  margin-left: 3em;
  text-transform: uppercase;
  margin-top: 0px;
}
.menu__item {
  padding-right: 8px;
  padding-left: 8px;
}
* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}